<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<!-- environment: 1 = production, 2 = development -->
		<add key="environment" value="2" />
		<add key="master_connect_string" value="Server=tcp:calpartllc-dev.database.windows.net,1433;Initial Catalog=devTWFIF;Persist Security Info=False;User ID=AppLevelUser;Password=!ChangeM3$;MultipleActiveResultSets=False;Encrypt=False;Connection Timeout=30;" />
	</appSettings>
</configuration>

